.container {
    width: 250px;
    height: 200px;
 border: 1px solid steelblue;
}

.bar {
    fill: steelblue
}

#dashboard {
    width: 510px;
    display: grid;
    gap: 10px;
    grid-template-columns: 2fr 2fr;
}