html {
    font-family: sans-serif;
}

#dashboard {
    width: 250px;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
}

.container {
    width: 250px;
    height: 200px;
    border: 1px solid steelblue;
}

.bar {
    fill: steelblue
}

.bar:hover {
    fill: navy;
}

tr:hover:not(.thead) {
    background-color: navy;
    color: white
}

path:hover:not(.line) {
    fill: navy;
}

.line:hover {
    stroke: navy;
    stroke-width: 3;
}

#d3table {
    grid-column: 2 / 4;
    height: 200px;
    border: 1px solid steelblue;
}

#d3table tr {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: left;
}